# Umami DB
POSTGRES_DB="umami"
POSTGRES_USER="umami"
POSTGRES_PASSWORD="umami"

# Umami App
APP_SECRET="replace-me-with-a-random-string"
TWO_FACTOR_ENCRYPTION_KEY="replace me with `openssl rand -hex 32`"